:root{
    //colors
    --clr-primary: #0b0d17;
    --clr-secondary: #d0d6f9;
    --clr-tertiary:#ffffff;

    //fonts
    --fnt-bellefair:'Bellefair', serif;
    --fnt-barlow: 'Barlow Condensed', sans-serif;
}