

.btn-explore{
        @include heading4;
        background-color: var(--clr-tertiary);
        padding: 119px 64px 118px 62px;
        margin-right: 165px;
        margin-top: 131px;
        border: none;
        border-radius: 50%;
        @media (max-width: 768px){
            margin-right: 0;
            margin-top: 156px;
            margin-bottom: 90px;
            padding: 103px 53px 103px 53px;
        }
        @media (max-width:450px){
            padding: 64px 33px 64px 33px;
            margin: 81px 0px 48px 0px;
        }
        
        
        a{
            color: var(--clr-primary);
        }
        &:hover{
            box-shadow: 0px 0px 4px 60px rgba(255, 255, 255, 0.1);
            ;
        }

}