

.description-home{
    width: 450px;
    height: 382px;
    margin-left:165px;
    margin-top: 251px;
    @media (max-width: 768px){
        margin-top: 106px;
        margin-left: 0px;
        height: 334px;
    }
    @media (max-width:450px){
        margin:48px 24px 0px 24px ;
        width: auto;
        height: auto;
    }
    
    
    &__heading5{
        @include heading5;
        color: var(--clr-secondary);
        margin-bottom: 24px;
    }
    &__heading1{
        @include heading1;
        color: var(--clr-tertiary);
        margin-bottom: 24px;
    }
    &__text{
        @include body-text;
        color: var(--clr-secondary);
    }
}