
header{
    display: flex;
    justify-content: space-between;
    span{
        @media (max-width:768px){
            display: none;        
        }
    }
    
}

.header__logo{
    margin-top: 64px;
    margin-left: 55px;
    @media (max-width: 768px){
        margin-top: 24px;
        margin-left: 39px;
    }
    
}



